body {
  font-family: "Montserrat", sans-serif;
}

.weather-container {
  margin: 75px auto;
  max-width: 500px;
  height: 550px;
  background: rgb(96 95 97);
  opacity: 75%;
  border-radius: 10px;
  box-shadow: 0.5px 1px 3px rgb(133, 133, 133);
}
.citySearch {
  text-align: center;
}

.placeForTyping {
  padding-left: 0px;
  padding-right: 0px;
  width: 330px;
  height: 30px;
  border-radius: 4px;
}

.submit {
  padding-left: 0px;
  padding-right: 0px;
  padding: 4px 7px;
  background-color: white;
  margin: 5px 2px 2px;
  border-radius: 4px;
  border: 1px solid white;
  transition: all 150ms ease-in-out;
}
.submit:hover {
  background-color: rgb(96 95 97);
  color: white;
  cursor: pointer;
}
.link {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
}
section {
  margin-top: 5px;
}

h1,
h2 {
  text-align: center;
  font-weight: 400;
  color: white;
  text-shadow: 3px 3px 3px rgb(58, 61, 79);
}
h1 {
  font-size: 22px;
}
h2 {
  margin-top: 5px;
  text-decoration: overline;
  text-decoration-thickness: 2px;
  font-size: 48px;
  font-weight: 600;
}
h3 {
  text-align: center;
  font-size: 70px;
  font-weight: 300;
  line-height: 60px;
  color: rgb(253, 249, 4);
  text-shadow: 3px 3px 3px rgb(58, 61, 79);
}

.transform {
  text-decoration: none;
  font-size: 50px;
  color: rgb(253, 249, 4);
}
.indicators {
  text-align: right;
  line-height: 25px;
  font-weight: 750;
  padding-right: 10px;
  font-size: 18px;
  color: white;
  text-shadow: 3px 3px 3px rgb(58, 61, 79);
}
.units a {
  text-decoration: none;
}
.units .active {
  color: rgb(253, 249, 4);
  cursor: default;
}

.sky {
  margin-bottom: 30px;
  margin-left: 15px;
  text-align: left;
  color: white;
  text-shadow: 3px 3px 3px rgb(58, 61, 79);
}
.sky::first-letter {
  text-transform: capitalize;
}
.forecast-container {
  display: block;
  margin: 0 auto;
  max-width: 470px;
}
.col {
  text-shadow: 0.5px 1.5px 1.5px rgb(45%, 43%, 63%);
  padding: 2px;
}

.card {
  max-width: 79px;
  color: white;
  border: 1px solid white;
  border-radius: 3px;
  background: rgb(96 95 97);
}

.temp-day {
  font-size: 20px;
}
br {
  font-size: x-small;
}
.emoji {
  font-size: 22px;
}
.temp-night {
  color: black;
  font-size: 14px;
  text-shadow: 0.5px 1.5px 1.5px rgb(58, 61, 79);
}
.weekday {
  font-weight: 600;
}

.creator {
  text-align: center;
}

.source {
  text-decoration: underline;
}

source:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 670px) {
  .indicators {
    display: none;
  }
  h3 {
    font-size: 60px;
    line-height: 1;
  }
  .sky {
    margin-bottom: 60px;
  }
}
